<div class="section"></div>
<h3> <i class="fas fa-running"></i> </h3>
<h3>Session Tracker</h3>
<div class="section">
    <br>
    <p class="lead">Track and Share Sessions</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn blue darken-1">
        <i class="fab fa-google left"></i> Sign In With Google
    </a>
</div>