p {
    margin: 10px 0 !important;
}

h4 {
    font-family: Helvetica Narrow, sans-serif;
    margin: 20px 0 !important;
}

body {
    background: greenyellow;
}

table {
    border-radius: 20px;
}

 tbody tr:nth-child(odd):hover {
    background-color: greenyellow !important;

 }

 .focus {
     display: flexbox !important;
     flex-direction: column !important;
     align-items: center !important;
     justify-content: center !important;
     margin-left: 30px;

 }

 .motion {
    -webkit-transition: text-shadow 0.2s linear;
    -moz-transition: text-shadow 0.2s linear;
    -ms-transition: text-shadow 0.2s linear;
    -o-transition: text-shadow 0.2s linear;
    transition: text-shadow 0.2s linear;
 }
 .motion:hover {
    text-shadow: 0 0 30px black;
    text-size-adjust: 300%;
 }

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 80px;
}

.img-smaller {
    margin-top: 10px;
    width: 110px;
}

.row1 {
    display: flex;
}

.card-title {
    font-size: 16px !important;
    font-weight: 600 !important;
}

.card-action {
    margin: auto !important;
    font-size: 10px !important;
}