<h1>404 Not Found</h1>
<p>We're sorry, the page you're looking for is not here</p>
<a href="/dashboard"><img class="img-small" src="https://i.pinimg.com/474x/ad/96/f0/ad96f04abebe4e034045c83ff9d10168--baby-alpaca-cutest-animals.jpg"></a>