<h1>500 Server Error</h1>
<p>We're sorry, something went wrong.</p>
<a href="/dashboard"><img src="https://i.pinimg.com/474x/ad/96/f0/ad96f04abebe4e034045c83ff9d10168--baby-alpaca-cutest-animals.jpg"></a>